* {
 margin: 0px;
 padding: 0px;
}

body {
 font-family: Arial, sans-serif;
 background-color: #333639;
}

a {
 border: none;
 cursor: pointer;
 outline: none;
 user-select: none;
}

a:hover,
a:active {
  
}

#container {
 display: none;
 position: absolute;
 width: 298px;
 height: 248px;
 border:1px solid #000000;
 top: 0px;
 left: 0px;
 margin: auto;
 background-color: #92cbed;
 overflow: hidden;
}

#content {
 display: none;
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0px;
 left: 0px;
}

#background_exit {
 width: 100%;
 height: 100%;
 top: 0px;
 left: 0px;
 cursor: pointer !important;
 opacity: 0;
 background-color: #000000;
 z-index: 150;
}

#content div {
 display: block;
 position: absolute;
/* border: none;*/
}

#ctaOver{
  opacity: 0;
}

#cta, #ctaFill{
 /* overflow: hidden; */
 left: 92.5px;
 /*top: 194.5px;*/
 bottom:22.5px;
 z-index: 101;
 width: 114px;
  height: 33px;
}

#cta img, #ctaFill img{
  width: 114px;
  height: 33px;
}

#ctaImage{

}

#glare{
 top: 0px;
 left: -300px;
}

/*USER//////////////////////////////////////// CSS*/

#drink1 img, #drink2 img, #whiteBar img, #starsStatic img,  #starsStatic2 img, 
#starsStatic3 img, #starsStatic4 img, #starsStatic5 img, 
#glare img, #text1 img ,#text2 img, #text3 img, #text4 img, #background img{
 width: 300px;
}
#drink1, #drink2 {
  bottom:-8px;
}
#ctaFill{
  opacity: 0;
}

#cardImage img{
 width: 139px;
 height: 90px;
}

#card{
 top: 65px;
 left: 80px;
 width: 139px;
 height: 90px;
 overflow: hidden;
 border-radius: 5px;
 z-index: 101;
}

#logo, #text1, #text2, #text3, #text4{
  z-index: 101;
}

#star1{
  width: 6px;
  height: 6px;
  top: 99px;
  left: 14px;
}

#star2{
  width: 8px;
  height: 8px;
  top: 116px;
  left: 66px;
}
#star3{
  width: 8px;
  height: 8px;
  top: 98px;
  left: 46px;
}
#star4{
  width: 10px;
  height: 10px;
  top: 124px;
  left: 49px;
}
#star5{
  width: 5px;
  height: 5px;
  top: 85px;
  left: 4px;
}
#star6{
  width: 7px;
  height: 7px;
  top: 120px;
  left: 33px;
}
#star7{
  width: 6px;
  height: 6px;
  top:95px;
  left: 32px;
}
#star8{
  width: 6px;
  height: 6px;
  top: 91px;
  right: 21px;
}
#star9{
  width: 6px;
  height: 6px;
  top: 89px;
  right: 70px;
}
#star10{
  width: 9px;
  height: 9px;
  top: 75px;
  right: 48px;
  }
#star11{
  width: 10px;
  height: 10px;
  top: 91px;
  right: 51px;
}
#star12{
  width: 7px;
  height: 7px;
  top: 69px;
  right: 5px;
}
#star13{
  width: 7px;
  height: 7px;
  top: 84px;
  right: 34px;
}
#star14{
  width: 6px;
  height: 6px;
  top: 63px;
  right: 24px;
}
#star15{
  width: 4px;
  height: 4px;
  top: 76px;
  right: 21px;
}
#star16{
  width: 4px;
  height: 4px;
  top: 56px;
  right: 7px;
}

/*stars left side - first set*/
#star17{
  width: 12px;
  height: 12px;
  top: 110px;
  left: 112px;
}
#star18{
  width: 10px;
  height: 10px;
  top: 120px;
  left: 105px;
}
#star19{
  width: 12px;
  height: 12px;
  top: 100px;
  left: 120px;
}
#star20{
 width: 8px;
  height: 8px;
  top: 100px;
  left: 115px;
}
#star21{
 width: 10px;
  height: 10px;
  top: 90px;
  left: 105px;
}
/*#star22{
 width: 6px;
  height: 6px;
  top: 95px;
  left: 110px;
}*/
#star23{
  width: 12px;
  height: 12px;
  top: 110px;
  left: 122px;
}
#star24{
  width: 10px;
  height: 10px;
  top: 120px;
  left: 115px;
}
#star25{
  width: 12px;
  height: 12px;
  top: 100px;
  left: 130px;
}
#star26{
 width: 8px;
  height: 8px;
  top: 100px;
  left: 125px;
}
#star27{
 width: 10px;
  height: 10px;
  top: 90px;
  left: 115px;
}
/*///////////////*/


.loader-container {
  width: 10px;
  height: 10px;
  position: absolute;
  -moz-animation: scaleUp 1.5s linear;
  -webkit-animation: scaleUp 1.5s linear;
  animation: scaleUp 1.5s linear;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  z-index: 100;
}
.loader-container .loader {
  background: url('star.svg');
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  z-index: 100;
}


@-webkit-keyframes $animationName {
  15% {

    opacity: 1;
  }

  50% {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
  }
}
@-moz-keyframes scaleUp {

  15% {

    opacity: 1;
  }

  50% {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
  }
}
@-ms-keyframes scaleUp {


  15% {

    opacity: 1;
  }

  25% {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }


  50% {

    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
  }
}
@keyframes scaleUp {


  15% {

    opacity: 1;

  }

  50% {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
  }
}



.roundSmall,
.roundMedium,
.roundLarge {
/*    background: #fff;
    border-radius: 50%;
    position: absolute;
    width: 3px;
    height: 3px;*/
}
.roundMedium {
    width: 4px;
    height: 4px;
}
.roundLarge {
    width: 5px;
    height: 5px;
}
.starSmall,
.starMedium,
.starLarge {
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(star.svg);
    background-size: 100% 100%;
}
.starMedium {
    width: 15px;
    height: 15px;
}
.starLarge {
    width: 10px;
    height: 10px;
}
.realSmall,
.realMedium,
.realLarge {
    position: absolute;
    width: 12px;
    height: 12px;
    background: url(star.svg);
  background-size: 100% 100%;
}
.realMedium {
    width: 10px;
    height: 10px;
}
.realLarge {
    width: 10px;
    height: 10px;
}
.sharpSmall,
.sharpMedium,
.sharpLarge {
    position: absolute;
    width: 12px;
    height: 12px;
    background-size: 100% 100%;
    background: url(star.svg);
  background-size: 100% 100%;
}
.sharpMedium {
    width: 11px;
    height: 11px;
}
.sharpLarge {
    width: 12px;
    height: 12px;
}
.ringSmall,
.ringMedium,
.ringLarge {
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(star.svg);
  background-size: 100% 100%;
}
.ringMedium {
    width: 15px;
    height: 15px;
}
.ringLarge {
    width: 15px;
    height: 15px;
}
