@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, sans-serif;background-color:#333639;
    margin: 0px;
}

#adBorder{
	position:absolute;
	border:1px;
	border-color:#808080;
	border-style:solid;
	width:298px;
	height:248px;
	cursor:pointer;
	visibility:hidden;
	overflow:hidden;
}

.guideLayer{
	position:absolute;
	top:0px;
	left:0px;
}

#t1{
  position: absolute;
  left: 0px;
  top:  0px;
  width: 300px;
  height: 250px;
  text-shadow: 0px 2px 11px rgba(0, 0, 0, 1);
}

#t1a{
  position: absolute;
  color: #ffffff;
  top: 86px;
  left: 39px;
  width: 300px;
  font-size: 23px;
}

#t1b{
  position: absolute;
  color: #ffffff;
  top: 112px;
  left: 28px;
  width: 300px;
  font-size: 23px;
}

#t2a{
  position: absolute;
  color: #ffffff;
  top: 76px;
  left: 33px;
  width: 300px;
  font-size: 19px;
}

#t2b{
  position: absolute;
  color: #ec2924;
  top: 100px;
  left: 33px;
  width: 300px;
  font-size: 19px;
}

#t3a{
  position: absolute;
  color: #ffffff;
  top: 76px;
  left: 33px;
  width: 300px;
  font-size: 19px;
}

#t3b{
  position: absolute;
  color: #ec2924;
  top: 100px;
  left: 34px;
  width: 300px;
  font-size: 19px;
}

#t4a{
  position: absolute;
  color: #ffffff;
  top: 84px;
  left: 60px;
  font-size: 15px;
}

#t4b{
  position: absolute;
  color: #ffffff;
  top: 106px;
  left: 60px;
  font-size: 15px;
}

#t4c{
  position: absolute;
  color: #ffffff;
  top: 128px;
  left: 60px;
  font-size: 15px;
}

#backgroundImage{
	position:absolute;
	top:0px;
	left:0px;
}

.ctaGreen{
	position:absolute;
	top: 199px;
  left: 186px;

	-moz-box-shadow:inset 0px 1px 0px 0px #34bb73;
	-webkit-box-shadow:inset 0px 1px 0px 0px #34bb73;
	box-shadow:inset 0px 1px 0px 0px #34bb73;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00a84c), color-stop(1, #00994d) );
	background:-moz-linear-gradient( center top, #00a84c 5%, #00994d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a84c', endColorstr='#00994d');
	background-color:#00a84c;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:98px;
	text-decoration:none;
	text-align:center;
}

.ctaRed{
  position:absolute;
  top: 210px;
  left: 191px;

  -moz-box-shadow:inset 0px 1px 0px 0px #fb0000;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fb0000;
  box-shadow:inset 0px 1px 0px 0px #fb0000;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb0000), color-stop(1, #de0000) );
  background:-moz-linear-gradient( center top, #fb0000 5%, #de0000 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb0000', endColorstr='#de0000');
  background-color:#fb0000;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  font-weight:normal;
  font-style:normal;
  height:30px;
  line-height:30px;
  width:98px;
  text-decoration:none;
  text-align:center;
}

#bottomBar{
  position: absolute;
  left: 0;
  top: 200px;
  width: 300px;
}

#logoWhite{
  position: absolute;
  left: 32px;
  top: 210px;
  width: 87px 
}

#ctaColor{
  display: none;
}

#guyCar{
  position: absolute;
  left: 154px;
  top: 29px;
}

#safeliteLogo{
  position: absolute;
  top: 17px;
  left: 102px;
  width: 100px;
}

#safeliteAdvantage{
  position: absolute;
  top: 43px;
  left: 43px;
  width: 177px;
}

#crackTransparent{
  position: absolute;
  top: 0px;
  left: 0px;
}

#checkMark1{
  position: absolute;
  top: 86px;
  left: 44px;
}

#checkMark2{
  position: absolute;
  top: 108px;
  left: 44px;
}

#checkMark3{
  position: absolute;
  top: 129px;
  left: 44px;
}

#barsMask{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 300px;
  height: 5px;

}

#barsWipe{
  position: absolute;
}

