* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, sans-serif;
}
a {
  border: none;
  cursor: pointer;
  outline: none;
  user-select: none;
}
a:hover,
a:active {
  
}

div, img {
  position: absolute;
}

#container {
  display: none;
  position: absolute;
  width: 298px;
  height: 598px;
  border:1px solid #000;
  top: 0px;
  left: 0px;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
}

#content {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#background {
  left: -450px;
}

#background_exit {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer !important;
  opacity: 0;
  background-color: #000000;
  z-index: 100;
}

#content div {
  display: block;
  border: none;
}

#logo{
  top: 10px;
  left: 10px;
}

#yellow_bar {
  top: 590px;
  z-index: 10;
}

#sol {
  /*left: 10px;
  top: 110px;*/
  left: -20px;
  top: 100px;
}

#text {
  left: -200px;
  top: 173px;
  z-index: 4;
}

#cta{
  left: -150px;
  top: 361px;
  background: url("cta.png");
  z-index: 3;
  overflow: hidden;
  height: 32px;
  width: 126px;
}

.glare {
  position: absolute;
  width:80px;
  height:70px;
  background-image:url("glare.png");
  left:-150px;
  background-repeat:no-repeat;
  top:0px;
}

#replayBtn{
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  cursor: pointer; 
}