* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, sans-serif;
}
a {
  border: none;
  cursor: pointer;
  outline: none;
  user-select: none;
}
a:hover,
a:active {
  
}

.guideLayer{
  position:absolute;
  top:0px;
  left:0px;
}

#container {
  display: none;
  position: absolute;
  width: 298px;
  height: 248px;
  border:1px solid #f37f00;
  top: 0px;
  left: 0px;
  margin: auto;
  background-color: #f37f00;
  overflow: hidden;
}

#content {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#background_exit {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer !important;
  opacity: 0;
  background-color: #000000;
}

#content div {
  display: block;
  position: absolute;
  border: none;
}

#logo{
  top: 220px;
  left: 50px;
}

#speedBar{
  left: -131px;
  top: -1px;
  width: 395px;
  height: 29px;
}

#btmBar{
  top: 214px;
  left: 0px;
  width: 300px;
  height: 36px;
  background-color: #fff;
}

#textContainer{
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
}

#text1{
  top: 103px;
  left: 5px;
}

#textBlur{
  top: 101px;
  left: 300px;
/*  border: solid 1px black !important;*/
  height: 31px;
  width: 2336px;
}

#textBlur2{
  top: 101px;
  left: 1636px;
}

#text2a{
  top: 85px;
  left: 28px;
  width: 245px;
  height: 22px;
}

#text2b{
  top: 111px;
  left: 23px;
}

#text3a{
  top: 78px;
  left: 49px;
  width: 200px;
  height: 30px;
}
#text3b{
  top: 116px;
  left: 12px;
}

#cta{
  overflow: hidden;
  top: 163px;
  left: 95px;
  height: 31px;
  width: 108px;
  border: solid 1px #fff !important;
  border-radius: 5px;
}

#ctaText{
  padding: 7px 5px 5px 10px;
}

#glare{
  top: 0px;
  left: -120px;
}

#replayBtn{
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  cursor: pointer; 
}