* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333639;

}

a {
  border: none;
  cursor: pointer;
  outline: none;
  user-select: none;
}

a:hover,
a:active {
  
}

#container {
  display: none;
  position: absolute;
  width: 298px;
  height: 248px;
  border:1px solid #000000;
  top: 0px;
  left: 0px;
  margin: auto;
  background-color: #ffdd00;
  overflow: hidden;
}

#content {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#background_exit {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer !important;
  opacity: 0;
  background-color: #000000;
}

#content div {
  display: block;
  position: absolute;
  border: none;
}

#cta{
  overflow: hidden;
  top: 175px;
  left: 18px;
  width: 101px;
height: 41px;
}

#ctaImage img{
  width: 101px;
height: 41px;
}

#ctaImage2 img{
  width: 101px;
height: 41px;
}

#glare{
  top: 0px;
  left: -120px;
}

/*USER//////////////////////////////////////// CSS*/

.box{
  width:200px;
  height: 200px;
  float:left;
  -webkit-filter: blur(0px);
  /*filter: blur(0px);*/
}

#ctaImage2{
  opacity: 0;
}

#replayBtn{
  width: 14px;
  height: 14px;
  top: 7px;
  left: 278px;
  cursor: pointer;
}

#bottle {
    top: -7px;
    left: 168px;
}

#legal{
  top: 228px;
  left:19px;
}

#bottle img {
  width: 132px;
  height: 250px;
}